<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Bengaluru Page</h1>
        <h2>BENGALURU</h2>
        <P style="font-size: 30px;" align="justify">&nbsp &nbsp Bengaluru (Kannada: ಬೆಂಗಳೂರು, Kannada pronunciation: [ˈbeŋgɐɭuːɾu] (listen)), is the capital and largest city of the southern Indian state of Karnataka. It has a population of more than 8 million and a metropolitan population of around 11 million, making it the third most populous city and fifth most populous urban agglomeration in India, as well as the largest city in South India, and the 27th largest city in the world.[12] Located on the Deccan Plateau, at a height of over 900 m (3,000 ft) above sea level, Bangalore has a pleasant climate throughout the year, with its parks and green spaces earning it the reputation as the "Garden City" of India.[13] Its elevation is the highest among the major cities of India.<br></P>
        <P style="font-size: 30px;" align="justify">&nbsp &nbspThe city's history dates back to around 890 CE, as found in a stone inscription found at the Nageshwara Temple in Begur, Bangalore. In 1537 CE, Kempé Gowdā, a feudal ruler under the Vijayanagara Empire, established a mud fort, considered the foundation of modern Bangalore and its oldest areas, or pétés, which still exist. After the fall of the Vijayanagar Empire, Kempe Gowda declared independence; in 1638, a large Adil Shahi Bijapur army defeated Kempe Gowda III, and Bangalore was came under Shahaji Bhonsle as a jagir which later became his capital. <br></P>
        
        <P style="font-size: 30px;" align="justify">&nbsp &nbspThe city was captured by the British East India Company after victory in the Fourth Anglo-Mysore War (1799), which then returned administrative control of the city, along with the kingdom, to Maharaja Krishnaraja Wadiyar III. The old city developed under the dominions of the maharaja. In 1809, the British shifted their cantonment to Bangalore, outside the old city, and a town grew up around it, which played as British residence in Mysore. <br></P>
        
        <P style="font-size: 30px;" align="justify">&nbsp &nbspBangalore is considered to be one of the fastest-growing global major metropolises.[16][17] Recent estimates of the metro economy of its urban area has ranked Bangalore as one of the most productive metro areas of India.[18][19] The city is considered to be the pivot for high-technology-based heavy manufacturing industry, with numerous large multinational technology corporations setting up their headquarters in Bangalore. This metropolis is home to many top-tier engineering and research institutions. <br></P>
        <a href="{% url 'tamil:hotc' %}">Go To TamilNadu page</a><br>
        <a href="{% url 'india:all' %}">Go To India page</a><br>
    </center>

</body>
</html>